@media only screen and (min-width: 30em) {

	nav a{
		float:left;
		width:27%;
		margin:0 1.7%;
		padding:1.563em 2%;
		margin-bottom:0;
	}
	
	nav li:first-child a{ margin-left:0;  }
	nav li:last-child  a{ margin-right:0; }
	
	nav ul li{
		display:inline;
	}	
	
	.oldie nav a{
		margin:0 0.7%;		
	}
}

@media only screen and (min-width: 48em) {

	#header-container,
	#main aside{
		-webkit-box-shadow:0 0.313em 0.625em #aaa;
		   -moz-box-shadow:0 0.313em 0.625em #aaa;
		        box-shadow:0 0.313em 0.625em #aaa;
	}
	
	#title{
		float:left;
	}

	nav{
		float:right;
		width:38%;
	}

	#main article{
		float:left;
		width:57%;
	}
		
	#main aside{
		float:right;
		width:28%;
	}
}

@media only screen and (min-width: 71.25em) {

	.wrapper{
		width:64.125em; /* 71.25em - 10% for margins */
		margin:0 auto;
	}
}